.navbar-brand {
    background-color: turquoise;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
}

h1 {
    font-size: 36px;
    color: teal;
}

body {
    background-color: whitesmoke;
}

#main-section{
    width: 70%;
    background-color: white;
}