.navbar-brand {
    background-color: turquoise;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.navbar-brand:hover {
    opacity: 0.7;
  }

h1 {
    font-size: 36px;
    color: teal;
}

h2 {
    color: teal;
}

body {
    background-color: whitesmoke;
    position: relative;
    padding-top: 15px;
}

#main-section{
    background-color: white;
    padding-top: 15px;

}
#page-pic{
    float:left;
}

#side-section{
    background-color: white;
    padding-left: 60px;
}

