.navbar-brand {
    background-color: turquoise;
}

h1 {
    font-size: 36px;
    color: teal;
}

h2 {
    color: teal;
}

body {
    background-color: whitesmoke;
}

#main-section{
    background-color: white;
    width: 70%;
    position: relative;
}
#page-pic{
    float:left;
}

#side-section{
    background-color: white;
    width: 30%;
}

