.navbar-brand {
    background-color: turquoise;
}

h1 {
    font-size: 32px;
    color: teal;
}

h2 {
    font-size: 16px;
}

body {
    background-color: whitesmoke;
}

main {
    align-content: center;
    background-color: white;
}

table {
    align-content: center;
    background-color: white;
}

thead {
    border: "none"
}