.navbar-brand {
    background-color: turquoise;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-size: 36px;
    color: teal;
}

h2 {
    font-size: 16px;
}

h3{
    font-size: 20px;
    text-align: center;
    color: teal
}

section {
    padding: 20px;
    float: center;
    background-color: white;
}